body, html {
  margin: 0;
  padding: 0;
}

.hero {
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.hero img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.square-image {
  display: none; 
}

@media screen and (max-width: 600px) {
  .hero img {
    display: none; 
  }

  .square-image {
    display: block !important; 
    scale: 90%;
  }
}